<!-- section -->
<section class="bg-light pbk-2" data-aos="fade-up">
    <div class="container">
        <div class="mb-2">
            <div id="form" class="bg-white p-5x100" data-aos="fade-up" data-aos-delay="100">
                <div class="w-50 m-auto txt-center mb-1" data-aos="fade-up" data-aos-delay="200">
                    <h1 class="mb-1">Contact</h1>
                    <span class="title-line mb-1"></span>
                </div>

                <!-- contact form -->
                <form [formGroup]="form" id="contactform" data-aos="fade-up" data-aos-delay="300">
                    <label>Name (required)</label>
                    <input formControlName="name" id="name" name="name" type="text" required />

                    <label>Email (required)</label>
                    <input formControlName="email" id="email" name="email" type="email" required />

                    <label>Message</label>
                    <textarea formControlName="message" id="message" name="message" rows="3"></textarea>

                    <button type="button" (click)="sendEmail()">Send Now</button>
                </form>
            </div>
        </div>

        <!-- contact info -->
        <div class="bg-black txt-white grid gtc-3 gap-0 txt-center">
            <div class="p-10x100 pbk-6" data-aos="fade-right" data-aos-delay="100">
                <h2 class="fa-solid fa-location-dot mb-1"></h2>
                <h3>Where we are</h3>
                <address>Tibaani, Kakheti, Georgia</address>
            </div>

            <div class="p-10x100 pbk-6" data-aos="fade-right" data-aos-delay="200">
                <h2 class="fa-solid fa-phone mb-1"></h2>
                <h3>Call us</h3>
                <p><a href="tel:" class="txt-white">+995 551 19 86 26</a></p>
            </div>

            <div class="p-10x100 pbk-6" data-aos="fade-right" data-aos-delay="300">
                <h2 class="fa-solid fa-envelope mb-1"></h2>
                <h3>Email</h3>
                <p><a href="mailto:" class="txt-white">{{ 'winery@tibaaneli.ge' }}</a></p>
            </div>
        </div>

    </div>
</section>

<!-- maps section -->
<!--<section data-aos="zoom-out" data-aos-delay="100">-->
<!--    &lt;!&ndash; google maps &ndash;&gt;-->
<!--    <iframe title="Tibaaneli Winery" height="500" src="https://www.google.com/maps?q=Tibaaneli&z=12&ie=UTF8&iwloc=&output=embed"></iframe>-->
<!--</section>-->
