<!-- about section -->
<section class="bg-light pbk-2" data-aos="zoom-out">
    <h1 class="txt-center">About Us</h1>
    <div class="container">
        <div class="grid gap-0">
            <img src="assets/images/about.webp" alt="About us - GrapeLand html5 template" data-aos="fade-down" data-aos-delay="100">

            <div class="flex-center bg-white p-10x100">
                <div class="w-100">
                    <h5 data-aos="fade-up" data-aos-delay="200">Our Story</h5>
                    <h1 data-aos="fade-up" data-aos-delay="300">Where Tradition Meets Passion</h1>
                    <span class="title-line" data-aos="fade-up" data-aos-delay="350"></span>
                    <p data-aos="fade-down" data-aos-delay="400">In the eastern part of Kakheti, Georgia’s most celebrated wine region, lies the picturesque village of Tibaani—a land where winemaking is not just a craft but a way of life. It is here that Tibaaneli Winery was born, carrying the soul of an 8,000-year-old tradition forward into the modern world.</p>
                    <p data-aos="fade-down" data-aos-delay="400">For generations, Georgia has been known as the cradle of wine, a place where ancient winemaking techniques have remained untouched by time. At Tibaaneli, we honor this legacy by preserving the art of traditional Qvevri winemaking while embracing the possibilities of modern innovation. Every bottle we create is not just a drink—it is a testament to history, craftsmanship, and the land that nurtures us.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- team section -->
<!--<section class="bg-black" data-aos="zoom-out">-->
<!--    <div class="container p-0 bg-white grid gap-0">-->
<!--        <img src="assets/images/working.jpg" height="762" alt="GrapeLand template" data-aos="fade-right" data-aos-delay="100">-->

<!--        <div class="flex-center p-10x100">-->
<!--            <div class="w-100">-->
<!--                <div data-aos="fade-down" data-aos-delay="200">-->
<!--                    <h5 class="txt-primary">01</h5>-->
<!--                    <h2>Our Dream</h2>-->
<!--                    <span class="title-line"></span>-->
<!--                    <p class="mb-2">Dolor sit amet consectetur adipisicing elit. Ipsa, rem at? Sit quaerat quos voluptates.</p>-->
<!--                </div>-->

<!--                <div data-aos="fade-down" data-aos-delay="300">-->
<!--                    <h5 class="txt-primary">02</h5>-->
<!--                    <h2>Our Mission</h2>-->
<!--                    <span class="title-line"></span>-->
<!--                    <p class="mb-2">Lorem sit amet consectetur adipisicing elit quaerat quos voluptates, pariatur quod excepturi recusandae.</p>-->
<!--                </div>-->

<!--                <div data-aos="fade-down" data-aos-delay="400">-->
<!--                    <h5 class="txt-primary">03</h5>-->
<!--                    <h2>Our Reality</h2>-->
<!--                    <span class="title-line"></span>-->
<!--                    <p>Sit quaerat quos voluptates, saepe nemo amet dolore aperiam qui, cupiditate ad tempore.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!-- team section -->
<!--<section class="container pbk-8">-->
<!--    <div class="txt-center mb-5">-->
<!--        <h5 data-aos="fade-down" data-aos-delay="100">Get to know the </h5>-->
<!--        <h1 data-aos="fade-down" data-aos-delay="200">Winemaking Team</h1>-->
<!--        <span class="title-line" data-aos="fade-down" data-aos-delay="250"></span>-->

<!--        <p data-aos="fade-down" data-aos-delay="300">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Corporis, eos tenetur perferendis accusantium.</p>-->
<!--    </div>-->

<!--    &lt;!&ndash; team members &ndash;&gt;-->
<!--    <div class="grid gtc-3 mb-5">-->
<!--        &lt;!&ndash; member &ndash;&gt;-->
<!--        <div data-aos="fade-down" data-aos-delay="100">-->
<!--            <img src="assets/images/team-1.webp" class="mb-2" alt="Team - GrapeLand Wineries template" />-->
<!--            <h5 class="txt-primary">CEO</h5>-->
<!--            <h3 class="txt-black">Luka Naskidashvili</h3>-->
<!--        </div>-->
<!--        &lt;!&ndash; member &ndash;&gt;-->
<!--        <div data-aos="fade-down" data-aos-delay="300">-->
<!--            <img src="assets/images/team-3.webp" class="mb-2" alt="Team - GrapeLand Wineries template" />-->
<!--            <h5 class="txt-primary">Winemaker</h5>-->
<!--            <h3 class="txt-black">Nina Kapanadze</h3>-->
<!--        </div>-->
<!--        &lt;!&ndash; member &ndash;&gt;-->
<!--        <div data-aos="fade-down" data-aos-delay="200">-->
<!--            <img src="assets/images/team-2.webp" class="mb-2" alt="Team - GrapeLand Wineries template" />-->
<!--            <h5 class="txt-primary">Winemaker</h5>-->
<!--            <h3 class="txt-black">Doka Davitinidze</h3>-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; cite box &ndash;&gt;-->
<!--    <blockquote class="bg-black p-10x100 grid txt-center bg-img" style="&#45;&#45;imgUrl: url('../imgs/team.webp')" data-aos="zoom-out">-->
<!--        <div>-->
<!--            <i class="fa-solid fa-quote-left txt-primary mb-2"></i>-->
<!--            <h2 class="txt-white">The simple act of opening a bottle of wine has brought more happiness to humanity than all the governments in world history. Taste is a mystery that finds its best expression in wine.</h2>-->
<!--            <i class="fa-solid fa-quote-right txt-primary mb-3"></i>-->

<!--            <h5 class="txt-primary">Luka Chitaishvili</h5>-->
<!--        </div>-->
<!--    </blockquote>-->
<!--</section>-->