<footer data-aos="fade-down">
    <div class="container">
        <div class="grid gtc-3 gap-x3 mb-5">
            <div>
                <a href="#" class="logo">
                    <img src="assets/images/logo.svg" alt="GrapeLand logo">
                </a>
                <h4>Why choose our wine cellar over all the other wineries and venues?</h4>
                <p>We believe that our wide selection of red, rosé and white wines carefully produced in our hills
                    with traditional methods can be a winning factor. All this makes us the best place in the area,
                    where you can order bottles of fine wine with any side dish and typical product of your choice.
                </p>
            </div>

            <!-- contact info -->
            <div>
                <h3>Contact us</h3>
                <ul class="li">
                    <li><i class="fa-solid fa-location-dot"></i> Your Address Here 00, 30100 - Venice - Italy</li>
                    <li><i class="fa-solid fa-clock"></i> Mon-Fri 11:00-00:00, Sat-Sun 18:00-23:00</li>
                    <li><i class="fa-solid fa-phone"></i> +39 321 123456</li>
                    <li><i class="fa-solid fa-envelope"></i> {{ "your@email.com" }}</li>
                </ul>
            </div>

            <!-- newsletter -->
            <div>
                <h3>Fine Wines Made with Ancient Traditions</h3>
                <p>Sign up to our newsletter and receive incredible wine insights from our expert sommeliers, plus
                    event announcements and all our discounted specials...</p>
                <!-- newsletter form -->
                <form action="#">
                    <input type="email" name="newsletter" id="newsletter" placeholder="Enter your email" />
                    <button type="submit">Subscribe now</button>
                </form>
            </div>
        </div>

        <div class="flex justify-between flex-wrap">
            <!-- social links -->
            <ul class="flex">
                <li>
                    <a href="#" target="_self">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_self">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_self">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_self">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </li>
            </ul>

            <!-- copyrights -->
            <p>Tibaaneli <span id="thisYear"></span> &copy; All Rights Reserved.</p>
        </div>
    </div>
</footer>
