<footer>
    <div class="container">
        <div class="grid gtc-3 gap-x3 mb-2">
            <div>
                <a href="#" class="logo">
                    <img src="assets/images/logo.png" alt="Tibaaneli logo">
                </a>

                <p> &copy; Tibaaneli <span>{{ currentYear }}</span></p>
            </div>

            <!-- contact info -->
            <div>
                <h3>Contact us</h3>
                <ul class="li">
                    <li><i class="fa-solid fa-location-dot"></i> Tibaani, Kakheti, Georgia</li>
                    <li><i class="fa-solid fa-phone"></i> +995 551 19 86 26</li>
                    <li><i class="fa-solid fa-envelope"></i> {{ "winery@tibaaneli.ge" }}</li>
                </ul>
            </div>

            <div class="social-media">
                <h3>Social Media</h3>
                <ul class="li">
                    <li>
                        <a href="https://www.facebook.com/Tibaaneli" target="_self">
                            <i class="fa-brands fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/winery_tibaaneli/" target="_self">
                            <i class="fa-brands fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
