<footer>
    <div class="container">
        <div class="grid gtc-3 gap-x3 mb-2">
            <div>
                <a href="#" class="logo">
                    <img src="assets/images/logo.png    " alt="GrapeLand logo">
                </a>
            </div>

            <!-- contact info -->
            <div>
                <h3>Contact us</h3>
                <ul class="li">
                    <li><i class="fa-solid fa-location-dot"></i> Tibaani, Kakheti, Georgia</li>
                    <li><i class="fa-solid fa-phone"></i> +995 551 19 86 26</li>
                    <li><i class="fa-solid fa-envelope"></i> {{ "winery@tibaaneli.ge" }}</li>
                </ul>
            </div>

            <!-- newsletter -->
            <div>
                <p>Sign up to our newsletter and receive incredible wine insights from our expert sommeliers, plus
                    event announcements and the interesting news</p>
                <!-- newsletter form -->
                <form action="#">
                    <input type="email" name="newsletter" id="newsletter" placeholder="Enter your email" />
                    <button type="submit">Subscribe now</button>
                </form>
            </div>
        </div>

        <div class="flex flex-wrap">
            <!-- social links -->
            <ul class="flex">
                <li>
                    <a href="#" target="_self">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_self">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
            </ul>

            <!-- copyrights -->
            <p>Tibaaneli <span id="thisYear"></span> &copy; All Rights Reserved.</p>
        </div>
    </div>
</footer>
