<!-- header -->
<header data-aos="zoom-in" data-aos-delay="100">
    <!-- your logo here -->
    <a href="/tibaaneli-old">
        <img src="assets/images/logo.png" alt="GrapeLand logo">
    </a>
</header>

<!-- Accessibility: Skip to content -->
<a href="#main" class="skip-to-content">Skip to content</a>
<!-- Preload page -->
<div id="preload">
    <img src="assets/images/logo.png" alt="GrapeLand logo">
</div>

<!-- navbar toggle button -->
<button class="nav-toggle" aria-controls="navbar" aria-expanded="false" data-aos="fade-down" data-aos-delay="200">
    <span class="sr-only">Menu</span>
    <span class="bar1"></span>
    <span class="bar2"></span>
    <span class="bar3"></span>
</button>

<!-- navbar overlay -->
<div class="overlay nav-overlay" data-visible="false"></div>

<!-- navbar with page links -->
<nav id="navbar" data-visible="false">
    <!-- languages menu -->
    <ul class="lang">
        <li><a href="/tibaaneli-old" class="active">EN</a></li>
        <li><a href="#">GE</a></li>
        <li><a href="#">CH</a></li>
        <li><a href="#">RU</a></li>
    </ul>

    <!-- main menu -->
    <ul>
        <li><a href="/tibaaneli-old" class="active">Home</a></li>
        <li><a href="./about.html">About</a></li>
        <li class="has-submenu">
            <span>Pages</span>
            <ul class="submenu">
                <li><a href="./winery.html">Winery</a></li>
                <li><a href="./vineyard.html">Vineyard</a></li>
                <li><a href="./experiences.html">Experiences</a></li>
                <li><a href="./post.html">Post</a></li>
                <li><a href="./product.html">Product</a></li>
                <li><a href="./faqs.html">Faqs</a></li>
            </ul>
        </li>
        <li><a href="./shop.html">Shop</a></li>
        <li><a href="./blog.html">Blog</a></li>
        <li><a href="./contact.html">Contact</a></li>
    </ul>

    <!-- secondary menu -->
    <ul class="secondary">
        <li><a href="./cart.html">Cart</a></li>
        <li><a href="./checkout.html">Checkout</a></li>
        <li><a href="./account.html">Account</a></li>
        <li><a href="./login.html">Login</a></li>
        <li><a href="./privacy.html">Privacy policy</a></li>
    </ul>

    <!-- decorative image menu (only large screen) -->
    <img src="assets/images/nav-image.png" class="nav-image" alt="GrapeLand winery">
</nav>

<main><router-outlet/></main>

<app-footer></app-footer>