<!-- section -->
<section class="bg-light pbk-2" data-aos="zoom-out">
    <h1 class="txt-center">Blog</h1>

    <div class="container grid gap-x3 mb-5">
        <!-- post -->
        <article class="post" data-aos="fade-right" data-aos-delay="100">
            <a href="./post.html">
                <img src="assets/images/blog/post-1.webp" alt="GrapeLand Blog post">
            </a>
            <div class="bg-white p-10x100">
                <h5 class="txt-primary">17/10/2024</h5>
                <h2>How to Choose the Perfect Wine for Every Occasion</h2>
                <a href="./post.html" class="btn">Read more</a>
            </div>
        </article>

        <!-- post -->
        <article class="post" data-aos="fade-right" data-aos-delay="200">
            <a href="./post.html">
                <img src="assets/images/blog/post-2.webp" alt="GrapeLand Blog post">
            </a>
            <div class="bg-white p-10x100">
                <h5 class="txt-primary">26/06/2024</h5>
                <h2>From Vineyard to Bottle: The Winemaking Process</h2>
                <a href="./post.html" class="btn">Read more</a>
            </div>
        </article>

        <!-- post -->
        <article class="post" data-aos="fade-right" data-aos-delay="300">
            <a href="./post.html">
                <img src="assets/images/blog/post-3.webp" alt="GrapeLand Blog post">
            </a>
            <div class="bg-white p-10x100">
                <h5 class="txt-primary">25/04/2024</h5>
                <h2>Wine and Cheese Pairings: An Essential Guide</h2>
                <a href="./post.html" class="btn">Read more</a>
            </div>
        </article>

        <!-- post -->
        <article class="post" data-aos="fade-right" data-aos-delay="400">
            <a href="./post.html">
                <img src="assets/images/blog/post-4.webp" alt="GrapeLand Blog post">
            </a>
            <div class="bg-white p-10x100">
                <h5 class="txt-primary">11/12/2023</h5>
                <h2>The Differences Between Red, White, and Rosé Wines</h2>
                <a href="./post.html" class="btn">Read more</a>
            </div>
        </article>

        <!-- post -->
        <article class="post" data-aos="fade-right" data-aos-delay="500">
            <a href="./post.html">
                <img src="assets/images/blog/post-5.webp" alt="GrapeLand Blog post">
            </a>
            <div class="bg-white p-10x100">
                <h5 class="txt-primary">05/07/2023</h5>
                <h2>The Secrets to Tasting Wine Like a Sommelier</h2>
                <a href="./post.html" class="btn">Read more</a>
            </div>
        </article>

        <!-- post -->
        <article class="post" data-aos="fade-right" data-aos-delay="600">
            <a href="./post.html">
                <img src="assets/images/blog/post-6.webp" alt="GrapeLand Blog post">
            </a>
            <div class="bg-white p-10x100">
                <h5 class="txt-primary">29/02/2023</h5>
                <h2>Vineyards of Italy: the unmissable destinations</h2>
                <a href="./post.html" class="btn">Read more</a>
            </div>
        </article>
    </div>
</section>


<!-- cta section -->
<!--<section class="bg-img" style="&#45;&#45;imgUrl: url('assets/images/vineyard.webp')" data-aos="zoom-out" data-aos-delay="100">-->
<!--    <div class="container">-->
<!--        &lt;!&ndash; box translated &ndash;&gt;-->
<!--        <div class="bg-white p-10x100 translateY&#45;&#45;7" data-aos="fade-up" data-aos-delay="300">-->
<!--            <h1>Ancient Vineyards of fine Grapes</h1>-->
<!--            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quasi officia sit optio sapiente iure quam, nam veniam neque aliquid soluta rem cum, corrupti laboriosam doloribus a deleniti. Neque, dolorem?</p>-->
<!--            &lt;!&ndash; button &ndash;&gt;-->
<!--            <a href="./shop.html" class="btn">Shop now</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
